@charset "UTF-8";
/* CSS Document */

* {
	margin:0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color:#FFF;
}
html, body {
	background:url(../img/chalkboard.jpg) no-repeat center center fixed;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/chalkboard.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/chalkboard.jpg', sizingMethod='scale')";
	min-height:100%;
	height:100%;
}


ul li {
	list-style:none;
}
header {
	text-align:center;
	margin:15px 0;
}
header nav {
	font-family: 'IM Fell English SC', serif;
	font-size:2em;
	letter-spacing:0.5px;
	cursor:pointer;
}
header h1 {
	font-family: 'Seaweed Script', cursive;
	font-size:4.9em;
	background:url(../img/filet-title.png)no-repeat center center;
	margin:60px 0;
}
.container {
	min-height: 100%;
	height: auto !important;  
	height: 100%;
	margin: 0 auto -100px;  
	width:100%;
}
.container p {
	font-family: 'IM Fell English', serif;
	font-size:1.2em;
	letter-spacing:0.6px;
	line-height:40px;
	padding-left:25px;
}
.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	float:none;
	text-align:left;
	margin-right:-4px;
	 
}
.col-fixed {
	width:490px;
	min-width:490px;
}
.sep {
	width:100%;
	height:15px;
	margin:50px 0; 
}
.sep-1 {
	background:url(../img/sep-1.png) no-repeat;
}
.sep-2 {
	background:url(../img/sep-2.png) no-repeat 100%;
}
.sep-3 {
	background:url(../img/sep-3.png) no-repeat;
}
.sep-4 {
	background:url(../img/sep-4.png) no-repeat;
}

.sep-left {
	background-position: left center;
}
.sep-right {
	background-position: right center;
}
.sep-center {
	background-position: center center;
}

/*#border-1 {
	width:476px;
	height:396px;
	background:url(../img/border1.png) no-repeat center center;
}*/
#border-1 img {
	margin:25px;
}

/*#border-2 {
	width:434px;
	height:428px;
	background:url(../img/border2.png) no-repeat center center;
}*/

.border{
	/*background:url(../img/border2.png) no-repeat center center;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	border:red 1px solid;*/
	}

.photo{position:relative; }
.border{position:relative; }
.border img{width:100%; height:100%;}


#border-2 img {
	margin:25px 22px;
}

#border-4 img{
	max-width:920px;
	width:100%;
	 
}

#bottom-nav{
	max-width:800px;
	width:100%; 
	margin:0 auto;
	}

#photo-3 img{
	max-width:700px;
	width:100%;
}

.custom-width{
width:37.33333333%!important;
float:none!important;
}
 

.col-xs-auto {
	float:left;
     width: auto;
     padding: 0px;     
}

#quote {
	width:415px;
	font-size:1.8em;
	margin:0 auto;
}
#quote p {
	line-height:47px;
}
#quote .sep {
	margin:30px 0;
}



footer, .spacer{ height:100px;  }

footer {
	 	 line-height:100px;
	  	text-align:center;
		width: 100%;
	 
}
footer p {
	font-family: 'IM Fell English', serif;
	font-size:1.2em;
	letter-spacing:0.6px;
}
footer span {
	font-size:1.5em;
}



/* modif bootstrap*/
 .col-xs-6 {
	padding-left: 28px!important;
	padding-right: 28px!important;
}
 @media (max-width:1200px) {
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	float: none!important;
}

 
}



video {  
   width:100%; 
   max-width:946px; 
   height:auto; 
}
#last-next{margin:0 25px;}
#last-next div{float:left;}
#btn-next, #btn-last{width:64px; height:32px; cursor:pointer;}
#btn-next{background:url(../img/btn-next.png)no-repeat center center;}
#btn-last{background:url(../img/btn-last.png)no-repeat center center;}

#page-num{float:right;font-family: 'Dancing Script', cursive;font-size:2em;margin:0 25px;letter-spacing:2px;}