$white:#fff;
@font-face {
	font-family: EnglishProRoman;
	src: url("../../assets/fonts/FeENrm28C.otf") format('truetype');
}

@font-face {
	font-family: FeENit27C;
	src: url("../../assets/fonts/FeENit27C.otf") format('truetype');
}

@font-face {
	font-family: DancingScriptOT;
	src: url("../../assets/fonts/DancingScript-Regular.otf") format('truetype');
}

.homepage {
	height: 100%;
	.home {
		background: url('../../assets/images/hp_accueil_foret.jpg') no-repeat;
		background-size: cover;
		min-height: 800px;
	}
	h1,
	h2,
	h3,
	h4,
	p,
	a {
		color: $white;
	}
	h1,
	p,
	a {
		font-family: EnglishProRoman;
	}
	h2 {
		font-family: EnglishProRoman;
		text-transform: uppercase;
	}
	h3,
	h4 {
		font-family: DancingScriptOT;
	}
	nav {
		float: right;
		margin-top: 20px;
		margin-right: 20px;
		a {
			margin: 10px;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
	.container {
		width: 1024px;
		margin: 0 auto;
		.intro {
			width: 40%;
			padding-top: 100px;
		}
		.go {
			text-transform: uppercase;
			font-size: 40px;
			text-decoration: none;
		}
	}
	.menutitle {
		width: 100%;
		background-color: rgba(0, 0, 0, .8);
		height: 50px;
		position: relative;
		bottom: 50px;
		font-family: EnglishProRoman;
		text-transform: uppercase;
		color: white;
		padding-top: 15px;
		font-size: 20px;
		padding-left: 18%;
		.arrow {
			background: url('../../assets/images/sprite.png') no-repeat;
			background-position: -300px -47px;
			float: right;
			display: block;
			height: 50px;
			width: 50px;
			margin-right: 200px;
		}
	}
	.home-menu {
		height: 350px;
		border: 1px solid black;
		font-family: DancingScriptOT;
		color: white;
		border-image: url("../../assets/images/sep.png") 100 round;
		.periode {
			display: block;
			height: 350px;
			width: 30%;
			background: rgba(0, 0, 0, .8) url("../../assets/images/sep2.png") no-repeat center;
			padding-top: 150px;
			padding-left: 50px;
			position: relative;
			.periodeTitle {
				font-family: EnglishProRoman;
				position: absolute;
				left: 50px;
				bottom: 140px;
				font-size: 20px;
			}
		}
		&.item1 {
			background: url('../../assets/images/home-1.jpg') no-repeat;
			background-size: cover;
		}
		&.item2 {
			background: url('../../assets/images/home-2.jpg') no-repeat;
			background-size: cover;
		}
		&.item3 {
			background: url('../../assets/images/home-3.jpg') no-repeat;
			background-size: cover;
		}
		&.item4 {
			background: url('../../assets/images/home-4.jpg') no-repeat;
			background-size: cover;
		}
		&.item5 {
			background: url('../../assets/images/home-5.jpg') no-repeat;
			background-size: cover;
		}
		&.item6 {
			background: url('../../assets/images/home-6.jpg') no-repeat;
			background-size: cover;
		}
	}
	aside {
		margin-top: -50px;
	}
}
