@font-face {
	font-family: FeENrm28C;
	src: url("/assets/fonts/FeENrm28C.otf") format('truetype');
}
@font-face {
	font-family: FeENit27C;
	src: url("/assets/fonts/FeENit27C.otf") format('truetype');
}
@font-face {
	font-family: DancingScriptOT;
	src: url("/assets/fonts/DancingScript-Regular.otf") format('truetype');
}
$white:#fff;
.homepage {
	background: url('/assets/images/hp_accueil_foret.jpg') no-repeat;
	background-size: cover;
	height: 100%;
	.container {
		width: 1024px;
		margin: 0 auto;
	}
	.intro {
		width: 40%;
		padding-top: 100px;
	}
}
h1,
h2,
h3,
h4,
p,
a {
	color: $white;
}
h1,
p,
a {
	font-family: FeENrm28C;
}
h2 {
	font-family: FeENrm28C;
	text-transform: uppercase;
}
h3,
h4 {
	font-family: DancingScriptOT;
}
