@import 'bourbon';
$grayDark:#737373;
$white:#fff;
.player-container {
	position: relative;
	height: 100%;
	overflow: hidden;
	#slider {
		.slides {
			background: black;
			height: 100%;
			width: 100%;
		}
		.cards {
			width: 100%;
			overflow-y: scroll;
		}
	}
	small {
		a {
			color: white;
		}
	}
	nav {
		position: absolute;
		z-index: 4;
		margin: 0 auto;
		a {
			display: block;
			position: relative;
			width: 100px;
			height: 50px;
			text-align: center;
			color: $white;
			text-decoration: none;
			font-family: $typo1;
			&:before {
				content: " ";
				margin: 0 auto;
				width: 50px;
				height: 50px;
				display: block;
				background: url('../../assets/images/sprite.png') no-repeat;
			}
			span {
				display: block;
				text-align: center;
				margin-top: 15px;
			}
		}
		&.h-nav {
			top: 50%;
			left: 10%;
			margin-left: -40px;
			margin-top: -40px;
			width: 80%;
			font-size: 16px;
			line-height: 40px;
			.left-nav {
				cursor: pointer;
				float: left;
				&:before {
					background-position: -180px -30px;
				}
			}
			.right-nav {
				cursor: pointer;
				float: right;
				&:before {
					background-position: -246px -30px;
				}
			}
		}
		&.v-nav {
			width: 100px;
			height: 100%;
			left: 50%;
			margin-left: -50px;
			position: absolute;
			.top-nav {
				top: 0;
				cursor: pointer;
				&:before {
					background-position: -350px -30px;
				}
			}
			.bottom-nav {
				position: absolute;
				bottom: 0;
				cursor: pointer;
				&:before {
					background-position: -300px -30px;
				}
			}
		}
	}
}
.player {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	cursor: pointer;
	.play-container {
		position: absolute;
		display: table;
		top: 50%;
		left: 50%;
		margin-top: -85px;
		margin-left: -400px;
		cursor: pointer;
		z-index: 10;
		width: 800px;
		.play {
			display: table-cell;
			background: url('../../assets/images/sprite.png') no-repeat;
			width: 170px;
			height: 170px;
		}
		.desc {
			display: table-cell;
			vertical-align: middle;
			font-family: $typo1;
			padding-left: 30px;
			padding-top: 30px;
			.youwatch {
				font-size: 20px;
				background: url('../../assets/images/double-sep.png') no-repeat;
				background-position: 0px 7px;
				background-size: contain;
				width: 116px;
				text-align: center;
			}
			.videoTitle {
				font-size: 40px;
				background: url('../../assets/images/sep-player.png') no-repeat;
				background-position: bottom left;
				height: 75px;
			}
			small {
				float: right;
				padding-right: 14px;
				font-size: 30px;
			}
		}
	}
	.categoryTitle{
		color: white;
		font-size: 40px;
		z-index: 4;
		position: absolute;
		top: -30px;
		left: -90px;
		text-transform: capitalize;
		font-family: $typo1;
	}
	.cardTitle{
		position: absolute;
		width: 300px;
		text-align: center;
		top:40px;
		left: -120px;
		font-family: $typo2;
		font-size: 18px;
		opacity: 0;
	}

	.histoire .cardTitle{
		top:-50px;
	}
	.mark:hover .cardTitle{
		opacity: 1;
		@include transition(all .7s ease-in-out);
	}
	.n-progress {
		width: 100%;
		height: 2px;
		background: transparent;
		box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		margin: 0 auto;
		padding: 0;
		bottom: 50px;
		left: 50%;
		margin-left: -495px;
		position: absolute;
		width: 990px;
		&.espoir {
			top: 50px;
		}
		.n-progress-bar {
			background: url('../../assets/images/sprite.png') no-repeat;
			background-position: 0px -268px;
			position: relative;
			z-index: 999;
			bottom: 10px;
			width: 990px;
			height: 15px;
			margin: 0 auto;
			left: 30px;
		}
		.time {
			color: $white;
			font-weight: bold;
			font-size: 1em;
			position: absolute;
			right: 0;
			top: -10px;
			left: -20px;
			font-family: $typo1;
			.stime {
				float: left;
			}
			.ttime {
				float: right;
				margin-right: -55px;
			}
		}
		.progress-button {
			background: url('../../assets/images/sprite.png') no-repeat;
			background-position: -400px -50px;
			width: 50px;
			height: 50px;
			margin-top: -3px;
			position: absolute;
			&.mark{
					background: url('../../assets/images/repere.png') no-repeat;
					top: 7px;
			}
		}
	}
	.volume {
		position: relative;
		float: left;
		width: 8%;
		margin: 0 0 0 4%;
		height: 100%;
	}
}
video {
	float: left;
}
.carousel,
.carousel-inner {
	height: 100%;
	background: black;
}
.vertical .carousel-inner {
	height: 100%;
}
.carousel.vertical .item {
	-webkit-transition: 0.6s ease-in-out top;
	-moz-transition: 0.6s ease-in-out top;
	-ms-transition: 0.6s ease-in-out top;
	-o-transition: 0.6s ease-in-out top;
	transition: 0.6s ease-in-out top;
}
.carousel.vertical .active {
	top: 0;
}
.carousel.vertical .next {
	top: 100%
}
.carousel.vertical .prev {
	top: -100%;
}
.carousel.vertical .next.left,
.carousel.vertical .prev.right {
	top: 0;
}
.carousel.vertical .active.left {
	top: -100%;
}
.carousel.vertical .active.right {
	top: 100%;
}
.carousel.vertical .item {
	left: 0;
}
.slick-prev,
.slick-next {
	display: none !important;
}
.slick-slider {
	margin-bottom: 0;
}
@include keyframes(slide) {
	from {
		@include transform(translateY(-50%));
	}
	to {
		@include transform(translateY(-50%));
	}
}
