#resources {
	background-image: url(../../assets/images/chalkboard.jpg);
	background-color: black;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	hr {
		background: url("../../assets/images/sprite.png") no-repeat;
		background-position: 0 -268px;
		bottom: 10px;
		width: 990px;
		height: 15px;
		margin: 0 auto;
		border: none;
		margin-bottom: 30px;
	}
	.back {
		font-family: $typo2;
		font-size: 30px;
		margin: 20px;
		display: inline-block;
		color: white;
	}
	.resources-container {
		max-width: 1024px;
		margin: 0 auto;
	}
	header {
		h1 {
			font-family: $typo1;
			text-align: center;
			font-size: 72px;
			background: url(../../assets/images/filet-title.png)no-repeat center center;
			margin: 0;
			&.periode {
				padding-right: 120px;
			}
		}
		h2 {
			text-align: center;
			font-family: $typo1;
			font-size: 42px;
		}
	}
	span {
		font-family: $typo2;
		font-size: 18px;
	}
	.menu {
		background: url(../../assets/images/resources-bkg.png) no-repeat center center;
		width: 770px;
		height: 850px;
		margin: 0 auto;
		div {
			margin: 0;
		}
	}
	nav {
		position: relative;
		font-family: $typo2;
		font-size: 24px;
		a {
			color: white;
			span {
				font-size: 24px;
			}
		}
	}
	.left-nav {
		float: left;
		margin-top: 20px;
	}
	.right-nav {
		float: right;
		position: absolute;
		right: 0;
		top: 20px;
	}
	.grid {
		margin-top: 30px;
	}
	button {
		background: transparent;
		outline: 0;
	}
	.tiroir {
		display: block;
		height: 370px;
		width: 100%;
		font-family: $typo2;
		font-size: 25px;
		text-align: center;
		padding-top: 80px;
		text-decoration: none;
		&.tiroir1 {
			.periode {
				margin-top: 30px;
				margin-left: 22px;
			}
			.periodeTitle {
				margin-top: 80px;
				margin-left: 25px;
			}
		}
		&.tiroir2 {
			width: 285px;
			.periode {
				margin-top: 30px;
				margin-left: 0px;
			}
			.periodeTitle {
				margin-top: 62px;
				margin-left: 0px;
			}
		}
		&.tiroir3 {
			.periode {
				margin-top: 8px;
				margin-left: 22px;
			}
			.periodeTitle {
				margin-top: 60px;
				margin-left: 25px;
			}
		}
		&.tiroir4 {
			width: 285px;
			.periode {
				margin-top: 8px;
				margin-left: -10px;
			}
			.periodeTitle {
				margin-top: 60px;
				margin-left: 0px;
			}
		}
	}
	.modal-title span {
		color: #333;
	}
	.modal-header {
		border-bottom: none;
	}
	.modal-content {
		border-radius: 0;
		width: 730px;
		height: 700px;
		overflow: scroll;
	}
	.close {
		opacity: 1;
		span {
			color: black;
		}
	}
	.modal-footer {
		border: none;
	}
	#last-next {
		margin: 0 25px;
	}
	#last-next div {
		float: left;
	}
	#btn-next,
	#btn-last {
		width: 64px;
		height: 32px;
		cursor: pointer;
	}
	#btn-next {
		background: url(../../assets/images/btn-next-2.png)no-repeat center center;
		float: right !important;
	}
	#btn-last {
		background: url(../../assets/images/btn-last-2.png)no-repeat center center;
	}
}
